VITE_LEGAL_PUBLISHER_NAME="Nom ou raison sociale"
VITE_LEGAL_PUBLISHER_ADDRESS="Adresse postale complète"
VITE_LEGAL_CONTACT="contact@example.com"
VITE_LEGAL_HOST_NAME="Nom de l’hébergeur"
VITE_LEGAL_HOST_ADDRESS="Adresse postale de l’hébergeur"
